.container-for-boards {
  display: flex;
}

#board-1,
#board-2,
#board-3 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 50vh;
  width: 50vw;
}

#board-2 {
  background-color: lightblue;
}

#board-3 {
  position: absolute;
  height: 70%;
  left: 0;
  right: 0;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.gridColumn,
.gridColumn2,
.column {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cell {
  border: 1px solid black;
  background-color: bisque;
  width: 100%;
  height: 100%;
}

.gridColumn2 > button {
  background: lightcoral;
}
